<%- include('partials/header.ejs') %>

<h1>Welcome to Mercury!</h1>
    <p>
        Compare to Earth, Mercury is only slightly larger than Earth's Moon.
        Mercury is known to be the smallest planet in our solar system and nearest to the Sun,
        From the surface of Mercury, the Sun would appear more than three times as large as it does when viewed from Earth, 
        and the sunlight would be as much as seven times brighter.
        Mercury is not the hottest planet in our solar system despite its proximity to the Sun.
    </p>
    
        <br>
        <img src="/img/mercury.jpg" alt ="mercury" width="300px" />
  <%- include('partials/footer.ejs') %>