<%- include('partials/header.ejs') %>

<h1>Welcome to Neptune!</h1>
    <p>
        Ice giant Neptune is the eighth and most distant planet in our solar system.
        It is mostly dark, cold and whipped by supersonic winds.
        The distance is more than 30 times as far from the Sun as Earth, 
        Neptune is the only planet in our solar system not visible to the naked eye 
        and the first predicted by mathematics before its discovery. 
        In 2011 Neptune completed its first 165-year orbit since its discovery in 1846
    </p>
    
        <br>
        <img src="/img/neptune.jpg" alt ="neptune" width="300px" />
  <%- include('partials/footer.ejs') %>