<%- include('partials/header.ejs') %>

<h1>Welcome to Venus!</h1>
    <p>
        Venus has been called Earth's twin because it is similar in size and structure to Earth.
        However – there are radical differences between the two worlds.
        Venus has a thick, toxic atmosphere filled with carbon dioxide 
        and it’s perpetually shrouded in thick, yellowish clouds of mostly sulfuric acid that trap heat, 
        causing a runaway greenhouse effect. 
        Even though Mercury is closer to the Sun, Venus is the hottest planet in our solar system.
    </p>
    
        <br>
        <img src="/img/venus.png" alt ="venus" width="300px" />
  <%- include('partials/footer.ejs') %>